body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.bg-section-one {
  background-image: url("../img/wallpaper-1.jpg");
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: white;
}
.text-ready {
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.form-email-css {
  margin-top: 0;
}

.full-body-hr {
  padding: 0;
  margin: 0;
  border: 0.25rem solid #817979;
}

.sections {
  color: white;
  padding: 7rem 0rem 7rem 0rem;
}

.sections .internal-first-section {
  padding-right: 6rem;
}
.internal-first-section-img {
  height: 11rem;
  width: 25rem;
}
.sections .internal-first-section .h2-internal-first-section {
  font-size: 35px;
  font-weight: bold;
}
.sections .internal-first-section .h4-internal-first-section {
  font-size: 22px;
}
